.operations {
    width: 92.1%;
    margin: 0 auto;
    padding: 20px 0;
}

.operations button {
    border: 0;
    background-color: rgb(62, 64, 74);
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0 0 6px rgb(62, 64, 74);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    margin-right: 20px;
}

.operations button:active {
    background-color: rgb(33, 34, 44);
}

.operations div {
    display: inline;
}